<template name="userItemTemplate">
    <li class="rounded-corners user-card">
        <div class="row without-padding">
            <div class="hide-for-small two columns">
                <img class="gray-border" src="{{ user_image }}" />
            </div>
            <div class="ten columns without-padding">
                <div class="card-northwest green card-meta-data without-padding">{{ _id }}</div>
                <div class="card-northwest-secondary user-email bold">{{ userEmail }}</div>
                <div class="user-posts">Posts: {{ userHealthEntries }}</div>
                <div class="user-rank">HealthRank: {{ userHealthRank }}</div>
            </div>
        </div>
    </li>
</template>










