<template name="guest_todos">

    <div class="row">
        <div class="six columns">
            <img src="images/grays.anatomy/arteriesAndVeinsOfNeck.png" />
        </div>
        <div class="six columns">
            Symptomatic Health Record
        </div>
    </div>

</template>



<template name="guest_page">
    <div class="row" style="margin-top: 40px;">
        <div class="twelve columns">
            <p>
                {{> guest_todos }}
            </p>
        </div>
    </div>
</template>
