<template name="snomedPageTemplate">
    <div id="snomedPage" class="page">
        <div class="doesnt-overlap-header">
            <!--<h4>SNOMED Anatomical Reference</h4>-->
            <div class="spacer row"></div>
            <div class="row">
                <div id="snomed-anatomy-list">
                    <input type="text" class="search" placeholder="filter {{snomed_count}} records" />
                    <ul class="anatomy-images list">
                        {{#each snomed_reference}}
                        {{> anatomyItemTemplate}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            <!--<div id="anatomySearchPanel" class="hide-for-medium hide-for-small panel">-->

            <!--</div>-->
            <!--<div id="anatomyAdminPanel" class="hide-for-medium hide-for-small panel">-->
                    <!--<input type="text" id="new-anatomy" placeholder="new anatomy" />-->
                <!--<div id="contentDrop"></div>-->
            <!--</div>-->

        </div>
    </div>
</template>

<template name="anatomyItemTemplate">
    <li class="two column anatomy-item with-rounded-corners">
        <div class="hidden anatomy-name">{{anatomy_image}}</div>
        <img src="{{anatomy_image}}">
    </li>
</template>