<template name="icdPageTemplate">
    <div class="page" id="icd10Page">
        <div class="doesnt-overlap-header">
            <div class="spacer row"></div>
                <div class="six columns">
                    <div id="xmlData" class="panel">
                        xml data
                    </div>
                </div>
                <div class="six columns">
                    <div class="json-data panel">
                        {{> icdList }}
                    </div>
                </div>

                <!--<p class="hidden pictographs">A quick brown fox...</p>-->
                <!--<p class="hidden awesome">A quick brown fox...</p>-->

                <!--<p class="hidden chalkdust">A quick brown fox...</p>-->
                <!--<p class="hidden harabarahand">A quick brown fox...</p>-->
                <!--<p class="hidden itaintrocketscience">A quick brown fox...</p>-->
                <!--<p class="hidden shelterme">A quick brown fox...</p>-->
                <!--<p class="hidden wildscript">A quick brown fox...</p>-->
                <!--<p class="hidden windsong">A quick brown fox...</p>-->

            </div>
    </div>
</template>


<template name="icdList">
    <div class="row">
        <ul>
            {{#each icdCatalog }}
            {{> icdItemTemplate }}
            {{/each }}
        </ul>
    </div>
</template>
<template name="icdItemTemplate">
    <li>
        {{ json }}
    </li>
</template>
