<template name="guestPageTemplate">
    <div id="guestPage"  class="page">
        <div class="row">
            <div class="six columns">
                <img id="guestPageMainImage" class="guestPageImage" src="images/grays.anatomy.tiles/arteriesAndVeinsOfNeck.png" />
            </div>
            <div class="six columns">
                <h2 id="guestPageTitle" class="guestPageTitle">Symptomatic</h2>
            </div>
        </div>
    </div>

    <div id="guestFooter" data-role="footer" data-theme="none" class="nav-bar bottom-anchor">
        <ul class="nav-bar footer-nav-bar">
            <!--<li><a href="#aboutPage" onclick="showPage('#aboutPage');">About</a></li>-->
            <!--<li><a href="#featuresPage" onclick="showPage('#featuresPage');">Features</a></li>-->
            <!--<li><a href="#roadmapPage" onclick="showPage('#roadmapPage');">Roadmap</a></li>-->
            <!--<li><a href="#changelogPage" onclick="showPage('#changelogPage');">Changelog</a></li>-->
            <!--<li><a href="#contactPage" onclick="showPage('#contactPage');">Contact</a></li>-->
        </ul>
    </div>
</template>


