<template name="communityPageTemplate">
    <div class="page" id="communityPage">
        <div class="doesnt-overlap-header">
            <div class="spacer row"></div>
            <div class="row">
                <div class="six columns" id="community-members-list">
                    <input type="text" class="search" />
                    <ul id="item-list" class="list">
                        {{#each users}}
                        {{> userItemTemplate}}
                        {{/each}}
                    </ul>
                    <div class="hide-for-medium hide-for-small sidebar">
                        <div id="tag-filter" class="tag-list">
                            <ul class="tag-list sort-by">
                                <li class="sort tag" data-sort="user-email">Sort - Email</li>
                                <li class="sort tag" data-sort="user-posts">Sort - Health Entries</li>
                                <li class="sort tag" data-sort="user-rank">Sort - Health Rank</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="six columns hide-for-small">
                    <div class="row panel">
                        <p class="">{{ user_count}} Registered Users</p>
                    </div>
                    <div class="spacer row"></div>
                    <div class="row panel">
                        <p> Health Collaborators: {{ collaborators_count }}</p>
                        <p>{{ collaborators }}</p>
                    </div>

                    <div class="spacer row"></div>
                    <div class="hidden row">
                        <img class="dotted drop-zone with-rounded-corners" id="drop_zone" src="images/placeholder-240x240.gif" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>