<template name="guestPageTemplate">
    <img id="guestPageMainImage" class="guestPageImage" src="images/grays.anatomy/arteriesAndVeinsOfNeck.png" />
    <div class="row">
        <div class="six columns">
        </div>
        <div class="six columns">
            Symptomatic Health Record
        </div>
    </div>
</template>



<template name="guest_page">
    <div class="row" style="margin-top: 40px;">
        <div class="twelve columns">
            <p>
                {{> guest_todos }}
            </p>
        </div>
    </div>
</template>
