<template name="newsPageTemplate">
    <div id="newsPage" class="page">
        <div class="doesnt-overlap-header">
            <div class="spacer row"></div>
            {{#if showNewCarewatchMember}}
            {{> carewatchCommunityTemplate}}
            {{/if }}
            {{> carewatchNewsTemplate}}
        </div>
    </div>
</template>




<template name="carewatchCommunityTemplate">
    <div class="panel reference row">
        <h6>{{collaborators_count }} Carewatch Members</h6>
        <ul class="carewatch list">
            {{#each carewatchMembers}}
            {{> carewatchMemberTemplate}}
            {{/each}}
        </ul>
        <div class="pictographs close">X</div>
    </div>
    <div class="spacer row"></div>
</template>
<template name="carewatchMemberTemplate">
    <li>
        <span class="carewatch">{{carewatch_member_name}}</span>
        <span class="destroy"></span>
    </li>
</template>




<template name="carewatchNewsTemplate">

    <div class="row">
        <div id="items-view">
            <ul id="carewatch-list">
                {{#each carewatch_entries}}
                {{> carewatch_entry}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>
<template name="carewatch_entry">
    <li class="status">
        <ul class="inline-list">
            <li class="display">
                <div >
                    <img class="hide-for-small avatar" src="{{owner_avatar}}" />
                </div>
                <span class="todo-id">{{_id}}</span>
                <span class="todo-text bold">{{owner_name}}</span>
                <span class="todo-text">{{text}}</span>
            </li>
        </ul>
    </li>
</template>
