
<template name="health_entries">
    <div class="row">
        <input type="text" id="new-todo" placeholder="New item" />
    </div>

    <div class="row">

        {{#if any_list_selected}}
        <div id="items-view">
            <ul id="item-list">
                {{#each health_items}}
                {{> health_entry}}
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>

</template>

<template name="health_entry">
    <li class="todo {{done_class}}">
        <ul class="inline-list">
            {{#if editing}}
            <li class="edit">
                <input id="todo-input" type="text" value="{{text}}" />
            </li>
            {{else}}
            <li class="destroy"></li>
            <li class="display">
                <div class="hide-for-small todo-image">
                    <img src="images/placeholder-240x240.gif" />
                </div>
                <span class="todo-text">{{text}}</span>
            </li>
            {{/if}}
        </ul>
    </li>
</template>
