
<template name="userslist">
    <div class="spacer row"></div>
    <div class="row">
        <div class="six columns">
            <ul id="item-list">
                {{#each users}}
                {{> user_item}}
                {{/each}}
            </ul>
        </div>
        <div class="six columns padded">
            <div class="row">
                <img class="dotted drop-zone with-rounded-corners" id="drop_zone" src="images/placeholder-240x240.gif" />
            </div>
            <div class="spacer row"></div>
            <div class="row panel">
                <p>Number of Registered Users: {{ user_count}}</p>
                <p>Number of Active Users: {{ user_count}}</p>
            </div>
            <div class="spacer row"></div>
            <div class="row panel">
                <p>My Care Network: {{ userNetworkSize }}</p>
            </div>
        </div>
</template>



<template name="user_item">
    <li class="user-card">
        <div class="user-id">{{_id}}</div>
        <div class="user-email bold">{{ userEmail }}</div>
        <div class="user-posts">Health Entries: {{ userHealthEntries }}</div>
        <div class="user-posts">HealthRank: {{ userHealthRank }}</div>
    </li>
</template>










