<template name="profilePageTemplate">
    <div data-role="page" id="profilePage">


                <div class="doesnt-overlap-header row">
                    <h4 class="padded-horizontal">User Profile</h4>
                </div>

                    <div class="row">
                        <div class="two columns">
                            <img class="dotted drop-zone with-rounded-corners" id="drop_zone" src="images/placeholder-240x240.gif" />
                            <p class="centered image-selection-text">Image Selection</p>

                            <input class="hidden" type="file" id="import_files_input" name="files[]"  />
                        </div>
                        <div class="ten columns">
                            <div class="panel row">
                                <ul id="profileItems" class="profile-items">

                                    <li class="display"><span class="profile-item">{{user_id}}</span></li>

                                    {{#if editing}}
                                    <li class="edit"><input id="todo-input-text" type="text" placeholder="email" value="{{user_email}}" /></li>
                                    {{else}}
                                    <li class="display"><span class="profile-item">{{user_email}}</span></li>
                                    {{/if}}

                                    {{#if editing}}
                                    <li class="edit"><input id="profile-input-name" type="text" placeholder="Full Name" value="{{user_name}}" /></li>
                                    {{else}}
                                    <li class="display"><span id="profile-display-name" class="profile-item">{{user_name}}</span></li>
                                    {{/if}}


                                </ul>
                                <!--<textarea rows="4" type="text" id="guest-todo" placeholder="Be sure to include symptoms, history, and your contact information...." />-->

                            </div>
                            <div class="spacer row"></div>
                            <div id="json-content" class="row panel">
                                {{ user_json }}
                            </div>
                        </div>
                    </div>


    </div>
</template>
