
<template name="todos">
    <div class="row">

        {{#if any_list_selected}}
        <div id="items-view">
            <ul id="item-list">
                {{#each todos}}
                {{> todo_item}}
                {{/each}}
            </ul>
        </div>
        <div id="new-todo-box">
            <input type="text" id="new-todo" placeholder="New item" />
        </div>
        {{/if}}
    </div>

</template>

<template name="todo_item">
    <li class="todo {{done_class}}">
        <ul class="inline-list">
            {{#if editing}}
            <li class="edit">
                <input id="todo-input" type="text" value="{{text}}" />
            </li>
            {{else}}
            <li class="destroy"></li>
            <li class="display">
                <span class="todo-text">{{text}}</span>
            </li>
            {{/if}}
        </ul>
    </li>
</template>
